{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="col-md-12 p-4 border">
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create" class="btn bg-custom1">
            </form>
        </div>
        <div class="col-md-3 ml-4 alert-warning p-4 rounded">
            <h3>Follow Guideline</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eligendi laboriosam ea fugiat voluptates eos ipsum ipsa exercitationem eaque dicta.
            </p>
        </div>
    </div>
</div>

{% endblock %}