
/*
=======COLORS=======
        #cdffeb
        #ffaaaa
        #c7004c
        #b40535
*/

/*  GENERIC CLASSES AND IDS  */
.bg-custom1 {
	background: #c7004c;
	color: #fff;
	border-bottom-width: calc(.2rem + .0625rem);
	border-color: rgba(0,0,0,0.2);
}

.bg-custom1-fade {
	background: #c7004c;
	color: #fff;
	opacity: .8;
	border-bottom-width: calc(.2rem + .0625rem);
	border-color: rgba(0,0,0,0.2);
}

.bg-custom1-dark {
	background: #00b894;
	color: #fff;
	border-bottom-width: calc(.2rem + .0625rem);
	border-color: rgba(0,0,0,0.2);
}

.btn:focus {
  outline: none !important;
}

.btn:focus{
	box-shadow:none !important;
}

.container-fluid {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

#todobtn, #meetingbtn {
	cursor: pointer;
}

.modal-backdrop {
    opacity:0.8 !important;
}

/* For custom progressbar circle */



/* END GENERICS */






body {
	background: #f4f4f4;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	font-weight: 400;
}

#nav-main {
	padding: 0 !important;
}

.navbar-nav {
	min-height: 43px !important;
	margin-bottom: 0;
}


.navbar-brand {
	font-size: 20px;
	margin-top: -4px;
	font-weight: bold;
}

.nav-item.active {
	background-color: #b40535;
}

/*  Header */
#header {
	background-color: #cdffeb;
}


/*Mainleft*/
.list-group-item-action.active {
	background-color: #c7004c;
	border: none;
}


#footer {
	background: #c7004c;
}












/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .hide-on-767 {
  	display: none;
  }

  #ButtonAction.mt-4 {
  	margin-top: -20px;
  }
}